### Problem 1
In this question, we will use the csv file **Temp.csv**. 
- Read it into a data frame, call it `Temp`. (Import the packages you think you need).

In [1]:
import pandas as pd
Temp = pd.read_csv('/Users/cholmes/Downloads/[05]HW_Pandas/Temp.csv')

- We learned that the temperature at New Haven, Connecticut is currently 58 degree fahrenheit. Add this information into the DataFrame.

In [2]:
df = pd.DataFrame([['New Haven', 'Connecticut', 58]])
df.columns = ['City', 'State', 'Temperature']
Temp = Temp.append(df, ignore_index = True)
print Temp

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68
7   New Haven  Connecticut           58

- Replace the names of the states by their abbreviations. That is 
    - Connecticut --> CT
    - New Jersey  --> NJ
    - New York    --> NY

In [115]:
Temp.State = Temp.State.replace('New York', 'NY') # D.D. - You'll want to replace the other states by their 
print Temp                                        # abbreviations too.

         City        State  Temperature
0         NYC           NY           67
1      Albany           NY           49
2     Buffalo           NY           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68
7   New Haven  Connecticut           58

- Select the rows in New York.

In [246]:
Temp[Temp.State == 'NY']

      City State  Temperature
0      NYC    NY           67
1   Albany    NY           49
2  Buffalo    NY           38

- What is the average of the temperature of cities in NY?

In [156]:
Temp[Temp.State == 'NY'].Temperature.mean()

51.333333333333336

- Find the mean and the standard deviation of the temperature of each state.

In [179]:
mean = Temp.groupby('State').mean() # D.D. - Could also do both at once: Temp.groupby('State').agg(['mean', 'std']).  
std = Temp.groupby('State').std()
print mean
print std

             Temperature
State
Connecticut    59.666667
NY             51.333333
New Jersey     70.000000
             Temperature
State
Connecticut     2.886751
NY             14.640128
New Jersey      2.828427

- We know the capital of each state: 
    - Connecticut --> Hartford
    - New Jersey  --> Treton
    - New York    --> Albany
    
    Create a data frame, `Capital`, with two columns: State and Capital, which should look like:
    
|| State| Capital|
| :-: |:---: | :---:|
| 0| CT  | Hartford|
| 1| NJ | Treton|
| 2| NY| Albany|

In [260]:

Capital = pd.DataFrame({'Capital' : ['Hartford', 'Treton', 'Albany'], 'State' : ['CT', 'NJ', 'NY']})
print Capital

    Capital State
0  Hartford    CT
1    Treton    NJ
2    Albany    NY

- Mutate a new boolean column, `Capital`, to `Temp`, which is `True` if the city in the row is the capital of the state, else `False`.

In [274]:
#Temp.assign(c = Temp.City == Capital.Capital )
#if Temp.City == Capital.Capital:
#    print True
#Temp.assign(c = Temp.City == Capital.Capital )
lst = []
for i in Capital.Capital:
    lst.append(i)
newlst = []
for j in Temp.City:
    if j in lst:
        newlst.append(True)
    else:
        newlst.append(False)
        
Temp = Temp.assign(Capital = newlst)
Temp

         City        State  Temperature Capital
0         NYC           NY           67   False
1      Albany           NY           49    True
2     Buffalo           NY           38   False
3    Hartford  Connecticut           63    True
4  Bridgeport  Connecticut           58   False
5      Treton   New Jersey           72    True
6      Newark   New Jersey           68   False
7   New Haven  Connecticut           58   False

### Problem 2

- a. Load the Gross Domestic Product data for the 190 ranked countries in the file **GDP.csv**. Load **Country.csv** into a DataFrame. 
- b. Match the data based on the country shortcode. How many of the IDs match? 
- c. Sort the data frame in descending order by GDP rank. What is the 13th country in the resulting data frame? (Note: GDP formats as 123,456,789.)
- d. What is the average GDP for the "High income: OECD" and "High income: nonOECD" group?
- e. What is the average GDP for different income groups and regions?

In [12]:
#### Your code here
# (a)
import numpy as np
import pandas as pd
gdp = pd.read_csv('/Users/cholmes/Downloads/[05]HW_Pandas/GDP.csv', skiprows=range(5), header= None, usecols=[0,1,3,4], nrows=190)
gdp.columns = ['CountryCode', 'Rank', 'CountryName', 'GDP']

countries = pd.read_csv('/Users/cholmes/Downloads/[05]HW_Pandas/Country.csv')

gdp.head()

  CountryCode  Rank    CountryName           GDP
0         USA     1  United States   16,244,600
1         CHN     2          China    8,227,103
2         JPN     3          Japan    5,959,718
3         DEU     4        Germany    3,428,131
4         FRA     5         France    2,612,878

In [13]:
# 189 (b)
ids = pd.merge(gdp, countries, on = 'CountryCode' )
len(ids)

189

In [14]:
# (c)
ids.sort_values('Rank')
ids[ids.Rank == 13]

,CountryCode,Rank,CountryName,GDP,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
12,ESP,13,Spain,"1,322,965",Kingdom of Spain,High income: OECD,Europe & Central Asia,NaN,Euro area,Euro,...,"IHS, 2000",Yes,1999,2004.0,2008.0,2000.0,ES,ES,Spain,Spain

In [15]:
# (d)

cols = ids.columns
cols = cols.map(lambda x: x.replace(' ', '_') if isinstance(x, (str, unicode)) else x)
ids.columns = cols


oecd = ids[ids.Income_Group == 'High income: OECD']
non_oecd = ids[ids.Income_Group == 'High income: nonOECD']

floatGDP = []
floatnGDP = []
for i in oecd['GDP']:
    i = float(i.replace(',', ''))  # D.D. - The `apply` method on pd.Series would be useful here. 
    floatGDP.append(i)
for i in non_oecd['GDP']:
    i = float(i.replace(',',''))
    floatnGDP.append(i)
oecd.GDP = floatGDP
non_oecd.GDP = floatnGDP 

print oecd.GDP.mean()
print non_oecd.GDP.mean()

1483917.13333
104349.826087

In [23]:
print ids.groupby('Rank')
print ids.groupby(['Rank', 'GDP'])

<pandas.core.groupby.DataFrameGroupBy object at 0x111e0a090>
<pandas.core.groupby.DataFrameGroupBy object at 0x111e0aa90>

In [30]:
print oecd.groupby('Region').mean()[['GDP']]
print non_oecd.groupby('Region').mean()[['GDP']]

                                     GDP
Region
East Asia & Pacific         2.197268e+06
Europe & Central Asia       7.567044e+05
Middle East & North Africa  2.582170e+05
North America               9.033012e+06
                                      GDP
Region
East Asia & Pacific         149624.000000
Europe & Central Asia        27766.600000
Latin America & Caribbean    27954.800000
Middle East & North Africa  214253.142857
North America                 5474.000000
Sub-Saharan Africa           17697.000000